@use '../helpers' as *;

.download-info {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: rem(50);

    &__team {
        --personImgSize: #{rem(50)};

        background-color: var(--color-dark);
        border-radius: rem(12);

        @include laptop {
            --personImgSize: #{rem(40)};
        }
    }

    @include laptop {
        column-gap: rem(30);
    }
}