@use '../helpers/' as *;

.team {
    --personImgSize: #{rem(60)};

    display: flex;
    padding: rem(10);
    background-color: var(--color-dark-10);
    border-radius: rem(100);

    &__person {
        @include square(var(--personImgSize));

        background-color: var(--color-dark-15);
        border-radius: 50%;
        border: rem(2) solid var(--color-dark-40);

        &:not(:first-child) {
            margin-left: calc(var(--personImgSize) / 4 * -1);
        }

        @include laptop {
            border-width: rem(1);
        }
    }

    @include laptop {
        --personImgSize: #{rem(50)};

        padding: rem(8);
    }

    @include tablet {
        --personImgSize: #{rem(40)};
    }
}